<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Jumbotron -->
    <section class="jumbotron">
        <div class="container">

            <!-- text -->
            <div class="row">
                <div class="col-lg-5">
                    <h1>Picture perfect</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <!-- logo -->
            <div class="logo">
                <div class="circle">
                    <div class="circle-1">
                        <div class="circle-2"></div>
                    </div>
                </div>
                <div class="take">take</div>
            </div>


        </div>
        <!-- end of container -->
    </section>
    <!-- end of jumbotron -->

    <!-- Start something new + PHONE -->
    <section class="start">
        <div class="container">

            <!-- row-1 -->
            <div class="row row-1">
                <!-- <div class="col-lg-5 col-md-6 col-sm-6"> -->
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                    <h2>Start something new</h2>
                </div>
                <!-- <div class="col-lg-7 col-md-6 col-sm-6 phone"> -->
                <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 phone">
                    <!-- <img src="https://kodilla.com/static/bootcamp/extra_project_mobile.png" class="img-responsive" alt="phone"> -->
                    <img src="pics/mobile.png" class="img-responsive" alt="phone">
                </div>
            </div>

            <!-- row-2 -->
            <div class="row row-2">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>

            <!-- row-3 -->
            <div class="row row-3">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.</p>
                </div>
            </div>

            <!-- row-4 -->
            <div class="row row-4">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p>eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <!-- margin-top: -55px -->
                    <p>Neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>


        </div>
        <!-- end of container -->
    </section>
    <!-- end of 'Start something new + PHONE' -->

    <div class="clearfix"></div>
    <!-- clearfix (galeria nachodziła na poprzednie elementy przy niskich rozdzielczościach) -->

    <!-- Gallery -->
    <section class="gallery">
        <div class="container">
            <div class="row">

                <div class="box-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Design quality</h3>
                    <p class="middle-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
                    <p class="bottom-text">Find out more</p><span class="glyphicon glyphicon-arrow-right"></span>
                </div>

                <div class="box-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Built to last</h3>
                    <p class="middle-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
                    <p class="bottom-text">Find out more</p><span class="glyphicon glyphicon-arrow-right"></span>
                </div>

                <div class="box-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="box-text">
                        <h3>Our clients</h3>
                        <p class="middle-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        <p class="bottom-text">Get insights</p><span class="glyphicon glyphicon-arrow-right"></span>
                        <p class="heart"><span class="glyphicon glyphicon-heart-empty"></span></p>
                    </div>
                    <img src="pics/photo_1.jpeg" alt="picture-1">
                </div>

                <div class="box-4 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>How to shoo great</h3>
                    <p class="middle-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
                    <p class="bottom-text">Find out more</p><span class="glyphicon glyphicon-arrow-right"></span>
                </div>

            </div>

            <div class="row">

                <div class="box-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="box-text">
                        <h3>Sign up and & see why</h3>
                        <p class="middle-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
                        <p class="bottom-text">Get Started Now</p><span class="glyphicon glyphicon-arrow-right"></span>
                        <p class="heart"><span class="glyphicon glyphicon-heart-empty"></span></p>
                    </div>
                    <img src="pics/photo_2.jpeg" alt="picture-2">
                </div>

                <div class="box-6 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <h3>Perfect pictures</h3>
                    <p class="middle-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
                    <p class="bottom-text">Find out more</p><span class="glyphicon glyphicon-arrow-right"></span>
                </div>

                <div class="box-7 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="box-text">
                        <h3>Start something</h3>
                        <p class="middle-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
                        <p class="bottom-text">Get Started Now</p><span class="glyphicon glyphicon-arrow-right"></span>
                    </div>
                    <img src="pics/photo_11.jpg" alt="picture-3">
                </div>

            </div>
    </section>

    <!-- A look at the details -->
    <section class="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>A look at the details</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h6>Web based</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-lg-3">
                    <h6>Performance</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-lg-3">
                    <h6>Cultural</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-lg-3">
                    <h6>Sustainability</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>More power</h2>
                    <h2>behind every pixel.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <h5>See the options</h5>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </section>

    <!-- Reasons to get onboard -->
    <section class="reasons clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Reasons to get onboard</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h6>Web based</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h6>Team login</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h6>Great Support</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="solo">
        <div class="container clearfix">

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 legacy">
                    <h6>LEGACY</h6>
                    <h2>Go it solo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <button class="btn">BUY NOW $9</button>
                    <i class="fa fa-apple" aria-hidden="true"></i>
                    <i class="fa fa-windows" aria-hidden="true"></i>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 popular">
                    <h6>MOST POPULAR</h6>
                    <h2>Team Plan</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    <button class="btn">BUY NOW $18</button>
                    <i class="fa fa-apple" aria-hidden="true"></i>
                    <i class="fa fa-windows" aria-hidden="true"></i>
                </div>

            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <footer>
        <div class="container">
            <div class="row top">
                <div class="col-sm-6 col-xs-12 get">
                    <h6>Get in touch</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-sm-6 col-xs-12 stay">
                    <h6>Stay in touch</h6>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-ok"></i></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">
                            <h6>Resources</h6>
                            <ul>
                                <li>Tour</li>
                                <li>Customers</li>
                                <li>Pricing and Plans</li>
                                <li>New Features</li>
                                <li>Education</li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <h6>Features</h6>
                            <ul>
                                <li>Tour</li>
                                <li>Customers</li>
                                <li>Pricing and Plans</li>
                                <li>New Features</li>
                                <li>Education</li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <h6>How To's</h6>
                            <ul>
                                <li>Tour</li>
                                <li>Customers</li>
                                <li>Pricing and Plans</li>
                                <li>New Features</li>
                                <li>Education</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>